.super-mario {
    width: 200px;
    position: absolute;
    z-index: 0;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 350px;
    left: 80px;
    z-index: 1;
  }
  
  .baloon {
  
    position: absolute;
    top: 160px;
    left: 220px;
    z-index: 2;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 210px;
    left: 240px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 300px;
    z-index: 1;
  }