        body
        {

          font-size: 16px;
        }

        h1
        {

            font-size: 65px;
            font-family: sans-serif;
            color: orange;
        }

        .greybackground
        {

          background-color: grey;
          color: white;

        }

        p
        {
          font-size: 3em;
          font-weight: 600;
        }

        #liOne
        {

          background-color: yellow;
          color: black
        }

        #liTwo
        {

          background-color: red;
          color: black
        }

        #liThree
        {

          background-color: brown;
          color: black
        }

        .list
        {

          font-style: oblique;
          text-align: center;
          line-height: 30px;
          text-decoration: underline;
        }